{% extends "base.html" %}
{% block title %}Bulk Upload Foosball Scores{% endblock %}
{% block contents %}
<form method="post" action="" enctype="multipart/form-data">
  <div class="form-group">
    <label class="control-label" for="upload">Upload CSV File</label>
    <input id="upload" name="upload" type="file" />
  </div>
  <div class="checkbox">
    <label><input type="checkbox" id="clear" name="clear" /> Clear existing games</label>
  </div>
  <button id="submit" class="btn btn-primary">Submit Score</button>
</form>
{% endblock %}
